@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* margin: 0px;      */
}

.rectangle-wheather {
    width: 300px;
    height: auto;
    background-color: rgb(159, 159, 253);
    border-radius: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 15px;
}

.word {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding: 20px 0px;
}

.town {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: white;
    margin:40px;
}